
.request-card{
padding:0px;
width:600px;
}

mat-grid-tile {

}

.container {
 width : auto;
 padding-left : 20px;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}



.row{
 padding:10px;
}

.dropdown {
height : 28px;
border-radius: 2px;

padding-right : 10px;
}

.space{
padding-right: 20px;
}

.url-input{
width:100%;
border-radius: 2px;


}

.url-box{
width:50%;
}
.box{
width:65%;
}

.table td{
padding: 0.5rem;
}

.align{
margin-left:80px;
}
